@import url('https://fonts.googleapis.com');

.navbar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.logo{
    width: 100px;
    height: 100px;
    margin-left: 40px;
    margin-bottom: 80px;
}
.navopt{
    margin-top: 20px;
    grid-column-start: 2;
    grid-column-end: 4;
    display: flex;
    justify-content: space-around;
}
a{
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    color:#ae0404;
}
a:hover{
    color: black;
}
.fa-magnifying-glass{
    font-size: 20px;
    color:#ae0404;
}
.fa-magnifying-glass:hover{
    font-size: 25px;
    color: black;
}